# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
*.pyc

# private files
private[.-]*
private

# Build
vendor
build
docs/_build
docs/tutorial
docs/node_modules
docs/modules
dist
tools-stamp
buf-stamp
artifacts

# Data - ideally these don't exist
baseapp/data/*
client/lcd/keys/*
mytestnet

# Testing
coverage.txt
profile.out
sim_log_file

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea
*.iml
.dir-locals.el
.vscode

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz
/rust/zeropb/target/debug/.fingerprint/zeropb-0a0643c0242808bf/invoked.timestamp
/rust/zeropb/target/debug/.fingerprint/zeropb-0a0643c0242808bf/lib-zeropb
/rust/zeropb/target/debug/.fingerprint/zeropb-0a0643c0242808bf/lib-zeropb.json
/rust/zeropb/target/debug/.fingerprint/zeropb-83bdda1077a15938/invoked.timestamp
/rust/zeropb/target/debug/.fingerprint/zeropb-83bdda1077a15938/test-lib-zeropb
/rust/zeropb/target/debug/.fingerprint/zeropb-83bdda1077a15938/test-lib-zeropb.json
/rust/zeropb/target/debug/.fingerprint/zeropb-eefbda2cc5d1c5e6/dep-lib-zeropb
/rust/zeropb/target/debug/.fingerprint/zeropb-eefbda2cc5d1c5e6/invoked.timestamp
/rust/zeropb/target/debug/.fingerprint/zeropb-eefbda2cc5d1c5e6/lib-zeropb
/rust/zeropb/target/debug/.fingerprint/zeropb-eefbda2cc5d1c5e6/lib-zeropb.json
/rust/zeropb/target/debug/.fingerprint/zeropb-eefbda2cc5d1c5e6/output-lib-zeropb
/rust/zeropb/target/debug/deps/libzeropb-eefbda2cc5d1c5e6.rlib
/rust/zeropb/target/debug/deps/libzeropb-eefbda2cc5d1c5e6.rmeta
/rust/zeropb/target/debug/deps/zeropb-eefbda2cc5d1c5e6.1du6wehvtv6m9bxh.rcgu.o
/rust/zeropb/target/debug/deps/zeropb-eefbda2cc5d1c5e6.d
/rust/zeropb/target/debug/incremental/zeropb-1wbr9v5to5u0w/s-gkdgjpaubo-fnqdnw-1arb00t6gf6dx/1du6wehvtv6m9bxh.o
/rust/zeropb/target/debug/incremental/zeropb-1wbr9v5to5u0w/s-gkdgjpaubo-fnqdnw-1arb00t6gf6dx/dep-graph.bin
/rust/zeropb/target/debug/incremental/zeropb-1wbr9v5to5u0w/s-gkdgjpaubo-fnqdnw-1arb00t6gf6dx/query-cache.bin
/rust/zeropb/target/debug/incremental/zeropb-1wbr9v5to5u0w/s-gkdgjpaubo-fnqdnw-1arb00t6gf6dx/work-products.bin
/rust/zeropb/target/debug/incremental/zeropb-1wbr9v5to5u0w/s-gkdgjpaubo-fnqdnw.lock
/rust/zeropb/target/debug/.cargo-lock
/rust/zeropb/target/debug/libzeropb.d
/rust/zeropb/target/debug/libzeropb.rlib
/rust/zeropb/target/.rustc_info.json
/rust/zeropb/target/CACHEDIR.TAG
